div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.destinations {
	margin-bottom: 55px;
}
.destinations-text {
	text-align: center;
	position: relative;
	width: 370px;
	padding-left: 90px !important;
	padding-right: 90px !important;
}
.destinations-name {
	position: absolute;
	top: 0;
	margin-top: 70px;
	width: 50%;
	margin-left: 10px;
}
.destinations-name a {
	font-size: 24px !important;
	font-weight: 600 !important;
	color: #000 !important;
}
.destinations-text .price-box {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
	margin-top: 20px !important;
	background-color: #264B87;
	color: #fff !important;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	line-height: 1em !important;
	background-repeat: no-repeat;
	margin-left: 10%;
	/*margin-left: 39px;*/
}
.destinations-text .price-box a {
	color: #fff !important;
}
.destinations-item .destinations-img {
	height: 370px !important;
}
.destinations-item .destinations-img:nth-child(2n+1):after {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	left: 45%;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	border-bottom-color: #fff;
}
.destinations-item .destinations-img:nth-child(2n):after {
	position: absolute;
	display: block;
	content: "";
	left: 45%;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	top: 0;
	border-top-color: #fff;
}
.destinations-item .destinations-text {
	min-height: 370px !important;
	height: 370px !important;
}
hr.min-w {
	border-top: 3px solid #dedede;
	width: 50px;
}
.destinations-item hr.min-w {
	position: absolute;
	top: 35%;
	/*margin-top: 135px;*/
	margin-left: 20%;
}
.home-destinations-places {
	line-height: 24px;
	position: absolute;
	width: 58%;
	top: 48%;
	/*margin-top: 115px;*/
	font-size: 14px;
	color: #000;
}
@media screen and (max-width: 767px) {
	.destinations-grid [class*="col-"] {
		margin-bottom: 20px;
	}
	.destinations-text .price-box{
		margin-left: 8%;
	}
	.destinations-item .destinations-img {
		height: auto !important;
	}

}
@media screen and (min-width: 667px) and (max-width: 767px){
	.destinations-item .destinations-text {
		min-height: 333px !important;
		height: 333px !important;
		display: block !important;
		width: auto;
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
	.destinations-name {
		margin-left: 10% !important;
	}
	.destinations-item hr.min-w{
		margin-left: 29%;
	}
	.home-destinations-places {
		width: 72% !important;
	}
	.destinations-text .price-box {
		margin-left: 15% !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	.destinations-item .destinations-text{
		padding-left: 15px !important;
		padding-right: 15px !important;
		min-height: 249px !important;
		height: 249px !important;
		width: auto;
		display: block !important;
	}
	.destinations-item .destinations-img {
		height: auto !important;
	}
	.destinations-item .destinations-img:nth-child(2n+1):after {
		left: 42%;
	}
	.destinations-item .destinations-img:nth-child(2n):after {
		left: 42%;
	}
	.destinations-item .destinations-text .destinations-name a {
		font-size: 18px !important;
		line-height: 18px !important;
	}
	.destinations-item .destinations-text .destinations-name {
		margin-top: 10%;
		margin-left: 18%;
	}
	.destinations-item hr.min-w {
		top: 30%;
		margin-left: 34%;
		margin-top: 12px !important;
		margin-bottom: 12px !important;
	}
	.home-destinations-places {
		line-height: 20px;
		width: 80%;
		top: 40%;
		margin-left: 5%;
	}
	.destinations-text .price-box{
		margin-left: 17%;
		margin-right: 17%;
		margin-bottom: 8px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
	.destinations-item .destinations-text {
		display: block !important;
		width: auto;
	}
	.destinations-item hr.min-w {
		margin-left: 25%;
	}
	.destinations-name {
		margin-left: 6%;
	}
	.home-destinations-places {
		width: 60%;
	}
	.destinations-text .price-box {
		margin-left: 16%;
	}
}
