div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
/*
.pad20 {
	padding: 15px;
}*/
.detail-slider{
	/* display: flex;*/
}
.detail-slider .slide-room-sm{
	width: auto;
}
#slide-room-sm{
	position: relative;
}
#slide-room-sm .owl-wrapper{
	display: flex !important;
	flex-direction: column;
}
#slide-room-sm .owl-wrapper-outer{
	max-height: 422px;
	overflow: hidden;
}#slide-room-lg .owl-wrapper-outer{
	max-height: 422px;
	overflow: hidden;
}
.nav-slide{
	position: absolute;
	z-index: 1000;
	height: 50px;
	width: calc( 100% - 10px);
	background-color: #272727a6;
	border: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;

}


.nav-slide.prev{
	top: 0;

}
.nav-slide.next{
	bottom: 0;
}
.nav-slide.prev > .text{
	height: 50px;
	width: 50px;
	background-image: url(../images/icon-arrow-left-white.png);
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(270deg);
}

.nav-slide.next > .text{
	height: 50px;
	width: 50px;
	background-image: url(../images/icon-arrow-left-white.png);
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(90deg);

}
.position-relative {
	position: relative;
}
#slide-room-lg .prev-next-room {
	display: block;
	width: 28px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 35%;
	bottom: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
#slide-room-lg .prev-next-room.prev-room {
	top: calc( 50% - 28px);
	left: 10px;
	background: url('../images/photo-gall-but.png') no-repeat -113px -113px;
}
/*.detail-slider .slide-room-lg #slide-room-lg .prev-next-room.prev-room:hover {
  background-position: -113px -113px;
}*/
#slide-room-lg .prev-next-room.next-room {
	top: calc( 50% - 28px);
	right: 10px;
	background: url('../images/photo-gall-but.png') no-repeat -35px -113px;
}
@media screen and (max-width:1024px){
	#slide-room-sm .owl-wrapper-outer{
		/*max-height: 270px;*/
		overflow: hidden;
	}

}
	.btn-for-popup {
		line-height: 25px;
		padding: 15px;
		background: #264B87;
		color: #fff;
		border: 1px solid #264B87;
		text-align: center;
		text-transform: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 14pt;
		/*line-height: 70px;*/
		text-decoration: none;
		-moz-text-decoration-color: #fff;
		text-transform: uppercase;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	.btn-for-popup:hover {
		background-color: #fff;
		color: #264b87 !important;
	}
	.btn-for-popup:focus {
		background: #264B87;
		color: #fff !important;
	}
	.mark-div{
		width: 10%;
	}
	.col1-div{
		width: 30%;
	}
	.col2-div{
		width: 40%;
	}
	#mainContetntDetail .row{
		display:-webkit-inline-box;
		display:flex;
	}
	#mainContetntDetail .row:before,		/*Фикс работы flex для safari*/
	#mainContetntDetail .row:after{
		display:none;
	}
	.ok-container{
		color:green;
	}
	.error-container{
		color:red;
	}
.btnTransferChng{
	width:25%;
	float:left;
	background-color:#e5f4fa
}
.btnTransferChng:hover {
	background: #1E3c6E;
	position: relative;
	transition: 0.5s;
}
.text-for-popup{
	font-size:15px;
	font-weight: 500;
}

/*style from inline*/
.hotel-content::after{
	width:100%;
}
.btn-add-review-wrap {
   display: inline-block;
   padding: 0;
   margin: 0;
   width: 20%;
   background-position: center center;
   background-repeat: no-repeat;
}
.btn-add-review, .btn-add-review1 {
   border: 0;
   margin: 0;
   padding: 0;
}
.btn-add-review {
   opacity: 1.0;
   filter: alpha(opacity=99); /* IE */
   display: block;
   position: absolute;
   z-index: 2;
   width: 20%;
   transition-duration: 0.56s;
   -webkit-transition-duration: 0.56s;
   -moz-transition-duration: 0.56s;
   -o-transition-duration: 0.56s;
   -ms-transition-duration:  0.56s; /* IE9+ */
}
.btn-add-review:hover {
   opacity: 0.00;
   filter: alpha(opacity=00); /* IE */
   width: 20%;
}
body .content-page .mobile-h1 {display: none;}