.warning {

}

@keyframes highlight {
  from {
    background: orange;
  }
  to { 
    background: transparent;
  }
}
.warning {
  animation-name:highlight; 
  animation-duration:1s; 
  animation-timing-function:ease; 
  /*animation-delay:2s;*/
  animation-direction:reverse;
  animation-iteration-count:10; 
}
.search_filter-wrapper {
  padding-top: 10px;
}
.search_filter {

}
.search_filter button {
  background: #264b87;
  border: 1px solid #264b87;
  padding: 10px;
  width: 150px;
  color: white;
  transition-duration: 1s;
}
.search_filter button:hover{
  background: #f2be06;
  color: #264b87;
  transition-duration: 1s;
}

.search_filter-search {
  display: flex;
  width: 100%;
}
.search_filter-filter_row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.search_filter-label {
  padding: 5px;
  position: relative;
  transition-duration: 1s;
}
.search_filter-label input[type="radio"] {
  opacity: 0;
}
.search_filter-label::before{
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 5px;
  height: 15px;
  width: 15px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid #264b87;
  transition-duration: 1s;
}
.search_filter-label:hover {
  background: #f2be06;
  transition-duration: 1s;
}
.search_filter-label.active:before {
  background: #264b87;
  transition-duration: 1s;
}
.search_filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #264b87;
  padding: 5px;
  width: 277px;
 }

.search_filter input[type="text"] {
  border: 1px solid #264b87;
  padding: 10px;
}
.search_filter input[type="radio"] {
  width: auto;
}
.search_filter-list_item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search_filter-list_item-slider {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.search_filter-list_item-slider_image{
  width: 200px !important;
  height: 150px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.search_filter-list_item-slider img {
  height: 150px;
  width: auto;
}
.search_filter-list_item-slider .slick-arrow::before,
.search_filter-list_item-slider .slick-arrow::after {
  background: transparent;
  transition-duration: 1s;
}
.search_filter-list_item-slider:hover .slick-arrow::before,
.search_filter-list_item-slider:hover .slick-arrow::after {
  background: rgba(250, 250, 250, 0.8);
  transition-duration: 1s;
}

.search_filter-list_item-text{
  width: 400px;
  color: grey;
}

.search_filter-list_item-text-features {
  font-size: 10px;
}

.search_filter-list_item-title{
  color: #111;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: none;
}
.search_filter-list_item-adress {
  cursor: pointer;
}

.search_filter-yandex_map-popup-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 1000000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.search_filter-yandex_map-popup-inner {
  position: relative;
  margin: auto;
  height: 75vh;
  width: 75vw;
}

.search_filter-yandex_map-popup-close_button{
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-align: right;
}
.yandex_map {
  height: 100%;
  width: 100%;
}
.search_filter_detail_page_url{
  display: flex;
}

.search_filter_detail_page_url a {
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #337ab7;
  color: white;
  transition-duration: 1s;
}

.search_filter_detail_page_url a:hover {
  background-color: #f2be06;
  transition-duration: 1s;
}


.search_filter-pagination {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.search_filter-pagination span,
.search_filter-pagination a {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-right: 5px;
}
.search_filter-pagination span {
  border: none;
}
.search_filter-pagination-current_page {
  background: rgba(250, 0, 0, 0.2);
}

.search_filter-info {
  text-align: center;
  font-size: 16px;
  color: red;
  padding-top: 50px;
  padding-bottom: 50px;
}
.search_filter-select_wrapper {
  padding: 5px;
}