div {
  -moz-user-select: none;
  -webkit-user-select: none;
}
.thanks {
  padding: 30px 60px 30px 60px;
  margin: 100px auto;
  background: #fff;
  border-radius: 15px;
}
.thanks-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.back {
  text-align: center;
  margin-top: 20px;
}
