div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.hotel-list-item {
	overflow: hidden;
	position: relative;
	padding: 30px;
}
.hotel-list-item:after {
	position: absolute;
	height: 1px;
	top: 0;
	left: 0;
	right: 0;
	content: '';
	background: url(/local/templates/travelsoft/images/bg-border-v.png) repeat-x top left;
	z-index: 1;
}
.hl-features .hl-features-cn:last-child{
	border-bottom: 0;
}