* {
    box-sizing: border-box; }

.ts-wrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; }
.ts-wrap__fluid {
    margin: 0;
    max-width: 100%; }
.ts-wrap .ts-row {
    display: flex;
    flex: 1 0 100%;
    margin: 0 -1rem;
    flex-wrap: wrap; }
.ts-wrap .ts-col-offset-0 {
    margin-left: 0; }
.ts-wrap .ts-col-1 {
    width: 4.16667%;
    flex-basis: 4.16667%; }
.ts-wrap .ts-col-offset-1 {
    margin-left: 4.16667%; }
.ts-wrap .ts-col-2 {
    width: 8.33333%;
    flex-basis: 8.33333%; }
.ts-wrap .ts-col-offset-2 {
    margin-left: 8.33333%; }
.ts-wrap .ts-col-3 {
    width: 12.5%;
    flex-basis: 12.5%; }
.ts-wrap .ts-col-offset-3 {
    margin-left: 12.5%; }
.ts-wrap .ts-col-4 {
    width: 16.66667%;
    flex-basis: 16.66667%; }
.ts-wrap .ts-col-offset-4 {
    margin-left: 16.66667%; }
.ts-wrap .ts-col-5 {
    width: 20.83333%;
    flex-basis: 20.83333%; }
.ts-wrap .ts-col-offset-5 {
    margin-left: 20.83333%; }
.ts-wrap .ts-col-6 {
    width: 25%;
    flex-basis: 25%; }
.ts-wrap .ts-col-offset-6 {
    margin-left: 25%; }
.ts-wrap .ts-col-7 {
    width: 29.16667%;
    flex-basis: 29.16667%; }
.ts-wrap .ts-col-offset-7 {
    margin-left: 29.16667%; }
.ts-wrap .ts-col-8 {
    width: 33.33333%;
    flex-basis: 33.33333%; }
.ts-wrap .ts-col-offset-8 {
    margin-left: 33.33333%; }
.ts-wrap .ts-col-9 {
    width: 37.5%;
    flex-basis: 37.5%; }
.ts-wrap .ts-col-offset-9 {
    margin-left: 37.5%; }
.ts-wrap .ts-col-10 {
    width: 41.66667%;
    flex-basis: 41.66667%; }
.ts-wrap .ts-col-offset-10 {
    margin-left: 41.66667%; }
.ts-wrap .ts-col-11 {
    width: 45.83333%;
    flex-basis: 45.83333%; }
.ts-wrap .ts-col-offset-11 {
    margin-left: 45.83333%; }
.ts-wrap .ts-col-12 {
    width: 50%;
    flex-basis: 50%; }
.ts-wrap .ts-col-offset-12 {
    margin-left: 50%; }
.ts-wrap .ts-col-13 {
    width: 54.16667%;
    flex-basis: 54.16667%; }
.ts-wrap .ts-col-offset-13 {
    margin-left: 54.16667%; }
.ts-wrap .ts-col-14 {
    width: 58.33333%;
    flex-basis: 58.33333%; }
.ts-wrap .ts-col-offset-14 {
    margin-left: 58.33333%; }
.ts-wrap .ts-col-15 {
    width: 62.5%;
    flex-basis: 62.5%; }
.ts-wrap .ts-col-offset-15 {
    margin-left: 62.5%; }
.ts-wrap .ts-col-16 {
    width: 66.66667%;
    flex-basis: 66.66667%; }
.ts-wrap .ts-col-offset-16 {
    margin-left: 66.66667%; }
.ts-wrap .ts-col-17 {
    width: 70.83333%;
    flex-basis: 70.83333%; }
.ts-wrap .ts-col-offset-17 {
    margin-left: 70.83333%; }
.ts-wrap .ts-col-18 {
    width: 75%;
    flex-basis: 75%; }
.ts-wrap .ts-col-offset-18 {
    margin-left: 75%; }
.ts-wrap .ts-col-19 {
    width: 79.16667%;
    flex-basis: 79.16667%; }
.ts-wrap .ts-col-offset-19 {
    margin-left: 79.16667%; }
.ts-wrap .ts-col-20 {
    width: 83.33333%;
    flex-basis: 83.33333%; }
.ts-wrap .ts-col-offset-20 {
    margin-left: 83.33333%; }
.ts-wrap .ts-col-21 {
    width: 87.5%;
    flex-basis: 87.5%; }
.ts-wrap .ts-col-offset-21 {
    margin-left: 87.5%; }
.ts-wrap .ts-col-22 {
    width: 91.66667%;
    flex-basis: 91.66667%; }
.ts-wrap .ts-col-offset-22 {
    margin-left: 91.66667%; }
.ts-wrap .ts-col-23 {
    width: 95.83333%;
    flex-basis: 95.83333%; }
.ts-wrap .ts-col-offset-23 {
    margin-left: 95.83333%; }
.ts-wrap .ts-col-24 {
    width: 100%;
    flex-basis: 100%; }
.ts-wrap .ts-col-offset-24 {
    margin-left: 100%; }
@media screen and (min-width: 375px) {
    .ts-wrap .ts-col-xs-offset-0 {
        margin-left: 0; }
    .ts-wrap .ts-col-xs-1 {
        width: 4.16667%;
        flex-basis: 4.16667%; }
    .ts-wrap .ts-col-xs-offset-1 {
        margin-left: 4.16667%; }
    .ts-wrap .ts-col-xs-2 {
        width: 8.33333%;
        flex-basis: 8.33333%; }
    .ts-wrap .ts-col-xs-offset-2 {
        margin-left: 8.33333%; }
    .ts-wrap .ts-col-xs-3 {
        width: 12.5%;
        flex-basis: 12.5%; }
    .ts-wrap .ts-col-xs-offset-3 {
        margin-left: 12.5%; }
    .ts-wrap .ts-col-xs-4 {
        width: 16.66667%;
        flex-basis: 16.66667%; }
    .ts-wrap .ts-col-xs-offset-4 {
        margin-left: 16.66667%; }
    .ts-wrap .ts-col-xs-5 {
        width: 20.83333%;
        flex-basis: 20.83333%; }
    .ts-wrap .ts-col-xs-offset-5 {
        margin-left: 20.83333%; }
    .ts-wrap .ts-col-xs-6 {
        width: 25%;
        flex-basis: 25%; }
    .ts-wrap .ts-col-xs-offset-6 {
        margin-left: 25%; }
    .ts-wrap .ts-col-xs-7 {
        width: 29.16667%;
        flex-basis: 29.16667%; }
    .ts-wrap .ts-col-xs-offset-7 {
        margin-left: 29.16667%; }
    .ts-wrap .ts-col-xs-8 {
        width: 33.33333%;
        flex-basis: 33.33333%; }
    .ts-wrap .ts-col-xs-offset-8 {
        margin-left: 33.33333%; }
    .ts-wrap .ts-col-xs-9 {
        width: 37.5%;
        flex-basis: 37.5%; }
    .ts-wrap .ts-col-xs-offset-9 {
        margin-left: 37.5%; }
    .ts-wrap .ts-col-xs-10 {
        width: 41.66667%;
        flex-basis: 41.66667%; }
    .ts-wrap .ts-col-xs-offset-10 {
        margin-left: 41.66667%; }
    .ts-wrap .ts-col-xs-11 {
        width: 45.83333%;
        flex-basis: 45.83333%; }
    .ts-wrap .ts-col-xs-offset-11 {
        margin-left: 45.83333%; }
    .ts-wrap .ts-col-xs-12 {
        width: 50%;
        flex-basis: 50%; }
    .ts-wrap .ts-col-xs-offset-12 {
        margin-left: 50%; }
    .ts-wrap .ts-col-xs-13 {
        width: 54.16667%;
        flex-basis: 54.16667%; }
    .ts-wrap .ts-col-xs-offset-13 {
        margin-left: 54.16667%; }
    .ts-wrap .ts-col-xs-14 {
        width: 58.33333%;
        flex-basis: 58.33333%; }
    .ts-wrap .ts-col-xs-offset-14 {
        margin-left: 58.33333%; }
    .ts-wrap .ts-col-xs-15 {
        width: 62.5%;
        flex-basis: 62.5%; }
    .ts-wrap .ts-col-xs-offset-15 {
        margin-left: 62.5%; }
    .ts-wrap .ts-col-xs-16 {
        width: 66.66667%;
        flex-basis: 66.66667%; }
    .ts-wrap .ts-col-xs-offset-16 {
        margin-left: 66.66667%; }
    .ts-wrap .ts-col-xs-17 {
        width: 70.83333%;
        flex-basis: 70.83333%; }
    .ts-wrap .ts-col-xs-offset-17 {
        margin-left: 70.83333%; }
    .ts-wrap .ts-col-xs-18 {
        width: 75%;
        flex-basis: 75%; }
    .ts-wrap .ts-col-xs-offset-18 {
        margin-left: 75%; }
    .ts-wrap .ts-col-xs-19 {
        width: 79.16667%;
        flex-basis: 79.16667%; }
    .ts-wrap .ts-col-xs-offset-19 {
        margin-left: 79.16667%; }
    .ts-wrap .ts-col-xs-20 {
        width: 83.33333%;
        flex-basis: 83.33333%; }
    .ts-wrap .ts-col-xs-offset-20 {
        margin-left: 83.33333%; }
    .ts-wrap .ts-col-xs-21 {
        width: 87.5%;
        flex-basis: 87.5%; }
    .ts-wrap .ts-col-xs-offset-21 {
        margin-left: 87.5%; }
    .ts-wrap .ts-col-xs-22 {
        width: 91.66667%;
        flex-basis: 91.66667%; }
    .ts-wrap .ts-col-xs-offset-22 {
        margin-left: 91.66667%; }
    .ts-wrap .ts-col-xs-23 {
        width: 95.83333%;
        flex-basis: 95.83333%; }
    .ts-wrap .ts-col-xs-offset-23 {
        margin-left: 95.83333%; }
    .ts-wrap .ts-col-xs-24 {
        width: 100%;
        flex-basis: 100%; }
    .ts-wrap .ts-col-xs-offset-24 {
        margin-left: 100%; } }
@media screen and (min-width: 576px) {
    .ts-wrap .ts-col-sm-offset-0 {
        margin-left: 0; }
    .ts-wrap .ts-col-sm-1 {
        width: 4.16667%;
        flex-basis: 4.16667%; }
    .ts-wrap .ts-col-sm-offset-1 {
        margin-left: 4.16667%; }
    .ts-wrap .ts-col-sm-2 {
        width: 8.33333%;
        flex-basis: 8.33333%; }
    .ts-wrap .ts-col-sm-offset-2 {
        margin-left: 8.33333%; }
    .ts-wrap .ts-col-sm-3 {
        width: 12.5%;
        flex-basis: 12.5%; }
    .ts-wrap .ts-col-sm-offset-3 {
        margin-left: 12.5%; }
    .ts-wrap .ts-col-sm-4 {
        width: 16.66667%;
        flex-basis: 16.66667%; }
    .ts-wrap .ts-col-sm-offset-4 {
        margin-left: 16.66667%; }
    .ts-wrap .ts-col-sm-5 {
        width: 20.83333%;
        flex-basis: 20.83333%; }
    .ts-wrap .ts-col-sm-offset-5 {
        margin-left: 20.83333%; }
    .ts-wrap .ts-col-sm-6 {
        width: 25%;
        flex-basis: 25%; }
    .ts-wrap .ts-col-sm-offset-6 {
        margin-left: 25%; }
    .ts-wrap .ts-col-sm-7 {
        width: 29.16667%;
        flex-basis: 29.16667%; }
    .ts-wrap .ts-col-sm-offset-7 {
        margin-left: 29.16667%; }
    .ts-wrap .ts-col-sm-8 {
        width: 33.33333%;
        flex-basis: 33.33333%; }
    .ts-wrap .ts-col-sm-offset-8 {
        margin-left: 33.33333%; }
    .ts-wrap .ts-col-sm-9 {
        width: 37.5%;
        flex-basis: 37.5%; }
    .ts-wrap .ts-col-sm-offset-9 {
        margin-left: 37.5%; }
    .ts-wrap .ts-col-sm-10 {
        width: 41.66667%;
        flex-basis: 41.66667%; }
    .ts-wrap .ts-col-sm-offset-10 {
        margin-left: 41.66667%; }
    .ts-wrap .ts-col-sm-11 {
        width: 45.83333%;
        flex-basis: 45.83333%; }
    .ts-wrap .ts-col-sm-offset-11 {
        margin-left: 45.83333%; }
    .ts-wrap .ts-col-sm-12 {
        width: 50%;
        flex-basis: 50%; }
    .ts-wrap .ts-col-sm-offset-12 {
        margin-left: 50%; }
    .ts-wrap .ts-col-sm-13 {
        width: 54.16667%;
        flex-basis: 54.16667%; }
    .ts-wrap .ts-col-sm-offset-13 {
        margin-left: 54.16667%; }
    .ts-wrap .ts-col-sm-14 {
        width: 58.33333%;
        flex-basis: 58.33333%; }
    .ts-wrap .ts-col-sm-offset-14 {
        margin-left: 58.33333%; }
    .ts-wrap .ts-col-sm-15 {
        width: 62.5%;
        flex-basis: 62.5%; }
    .ts-wrap .ts-col-sm-offset-15 {
        margin-left: 62.5%; }
    .ts-wrap .ts-col-sm-16 {
        width: 66.66667%;
        flex-basis: 66.66667%; }
    .ts-wrap .ts-col-sm-offset-16 {
        margin-left: 66.66667%; }
    .ts-wrap .ts-col-sm-17 {
        width: 70.83333%;
        flex-basis: 70.83333%; }
    .ts-wrap .ts-col-sm-offset-17 {
        margin-left: 70.83333%; }
    .ts-wrap .ts-col-sm-18 {
        width: 75%;
        flex-basis: 75%; }
    .ts-wrap .ts-col-sm-offset-18 {
        margin-left: 75%; }
    .ts-wrap .ts-col-sm-19 {
        width: 79.16667%;
        flex-basis: 79.16667%; }
    .ts-wrap .ts-col-sm-offset-19 {
        margin-left: 79.16667%; }
    .ts-wrap .ts-col-sm-20 {
        width: 83.33333%;
        flex-basis: 83.33333%; }
    .ts-wrap .ts-col-sm-offset-20 {
        margin-left: 83.33333%; }
    .ts-wrap .ts-col-sm-21 {
        width: 87.5%;
        flex-basis: 87.5%; }
    .ts-wrap .ts-col-sm-offset-21 {
        margin-left: 87.5%; }
    .ts-wrap .ts-col-sm-22 {
        width: 91.66667%;
        flex-basis: 91.66667%; }
    .ts-wrap .ts-col-sm-offset-22 {
        margin-left: 91.66667%; }
    .ts-wrap .ts-col-sm-23 {
        width: 95.83333%;
        flex-basis: 95.83333%; }
    .ts-wrap .ts-col-sm-offset-23 {
        margin-left: 95.83333%; }
    .ts-wrap .ts-col-sm-24 {
        width: 100%;
        flex-basis: 100%; }
    .ts-wrap .ts-col-sm-offset-24 {
        margin-left: 100%; } }
@media screen and (min-width: 768px) {
    .ts-wrap .ts-col-md-offset-0 {
        margin-left: 0; }
    .ts-wrap .ts-col-md-1 {
        width: 4.16667%;
        flex-basis: 4.16667%; }
    .ts-wrap .ts-col-md-offset-1 {
        margin-left: 4.16667%; }
    .ts-wrap .ts-col-md-2 {
        width: 8.33333%;
        flex-basis: 8.33333%; }
    .ts-wrap .ts-col-md-offset-2 {
        margin-left: 8.33333%; }
    .ts-wrap .ts-col-md-3 {
        width: 12.5%;
        flex-basis: 12.5%; }
    .ts-wrap .ts-col-md-offset-3 {
        margin-left: 12.5%; }
    .ts-wrap .ts-col-md-4 {
        width: 16.66667%;
        flex-basis: 16.66667%; }
    .ts-wrap .ts-col-md-offset-4 {
        margin-left: 16.66667%; }
    .ts-wrap .ts-col-md-5 {
        width: 20.83333%;
        flex-basis: 20.83333%; }
    .ts-wrap .ts-col-md-offset-5 {
        margin-left: 20.83333%; }
    .ts-wrap .ts-col-md-6 {
        width: 25%;
        flex-basis: 25%; }
    .ts-wrap .ts-col-md-offset-6 {
        margin-left: 25%; }
    .ts-wrap .ts-col-md-7 {
        width: 29.16667%;
        flex-basis: 29.16667%; }
    .ts-wrap .ts-col-md-offset-7 {
        margin-left: 29.16667%; }
    .ts-wrap .ts-col-md-8 {
        width: 33.33333%;
        flex-basis: 33.33333%; }
    .ts-wrap .ts-col-md-offset-8 {
        margin-left: 33.33333%; }
    .ts-wrap .ts-col-md-9 {
        width: 37.5%;
        flex-basis: 37.5%; }
    .ts-wrap .ts-col-md-offset-9 {
        margin-left: 37.5%; }
    .ts-wrap .ts-col-md-10 {
        width: 41.66667%;
        flex-basis: 41.66667%; }
    .ts-wrap .ts-col-md-offset-10 {
        margin-left: 41.66667%; }
    .ts-wrap .ts-col-md-11 {
        width: 45.83333%;
        flex-basis: 45.83333%; }
    .ts-wrap .ts-col-md-offset-11 {
        margin-left: 45.83333%; }
    .ts-wrap .ts-col-md-12 {
        width: 50%;
        flex-basis: 50%; }
    .ts-wrap .ts-col-md-offset-12 {
        margin-left: 50%; }
    .ts-wrap .ts-col-md-13 {
        width: 54.16667%;
        flex-basis: 54.16667%; }
    .ts-wrap .ts-col-md-offset-13 {
        margin-left: 54.16667%; }
    .ts-wrap .ts-col-md-14 {
        width: 58.33333%;
        flex-basis: 58.33333%; }
    .ts-wrap .ts-col-md-offset-14 {
        margin-left: 58.33333%; }
    .ts-wrap .ts-col-md-15 {
        width: 62.5%;
        flex-basis: 62.5%; }
    .ts-wrap .ts-col-md-offset-15 {
        margin-left: 62.5%; }
    .ts-wrap .ts-col-md-16 {
        width: 66.66667%;
        flex-basis: 66.66667%; }
    .ts-wrap .ts-col-md-offset-16 {
        margin-left: 66.66667%; }
    .ts-wrap .ts-col-md-17 {
        width: 70.83333%;
        flex-basis: 70.83333%; }
    .ts-wrap .ts-col-md-offset-17 {
        margin-left: 70.83333%; }
    .ts-wrap .ts-col-md-18 {
        width: 75%;
        flex-basis: 75%; }
    .ts-wrap .ts-col-md-offset-18 {
        margin-left: 75%; }
    .ts-wrap .ts-col-md-19 {
        width: 79.16667%;
        flex-basis: 79.16667%; }
    .ts-wrap .ts-col-md-offset-19 {
        margin-left: 79.16667%; }
    .ts-wrap .ts-col-md-20 {
        width: 83.33333%;
        flex-basis: 83.33333%; }
    .ts-wrap .ts-col-md-offset-20 {
        margin-left: 83.33333%; }
    .ts-wrap .ts-col-md-21 {
        width: 87.5%;
        flex-basis: 87.5%; }
    .ts-wrap .ts-col-md-offset-21 {
        margin-left: 87.5%; }
    .ts-wrap .ts-col-md-22 {
        width: 91.66667%;
        flex-basis: 91.66667%; }
    .ts-wrap .ts-col-md-offset-22 {
        margin-left: 91.66667%; }
    .ts-wrap .ts-col-md-23 {
        width: 95.83333%;
        flex-basis: 95.83333%; }
    .ts-wrap .ts-col-md-offset-23 {
        margin-left: 95.83333%; }
    .ts-wrap .ts-col-md-24 {
        width: 100%;
        flex-basis: 100%; }
    .ts-wrap .ts-col-md-offset-24 {
        margin-left: 100%; } }
@media screen and (min-width: 992px) {
    .ts-wrap .ts-col-lg-offset-0 {
        margin-left: 0; }
    .ts-wrap .ts-col-lg-1 {
        width: 4.16667%;
        flex-basis: 4.16667%; }
    .ts-wrap .ts-col-lg-offset-1 {
        margin-left: 4.16667%; }
    .ts-wrap .ts-col-lg-2 {
        width: 8.33333%;
        flex-basis: 8.33333%; }
    .ts-wrap .ts-col-lg-offset-2 {
        margin-left: 8.33333%; }
    .ts-wrap .ts-col-lg-3 {
        width: 12.5%;
        flex-basis: 12.5%; }
    .ts-wrap .ts-col-lg-offset-3 {
        margin-left: 12.5%; }
    .ts-wrap .ts-col-lg-4 {
        width: 16.66667%;
        flex-basis: 16.66667%; }
    .ts-wrap .ts-col-lg-offset-4 {
        margin-left: 16.66667%; }
    .ts-wrap .ts-col-lg-5 {
        width: 20.83333%;
        flex-basis: 20.83333%; }
    .ts-wrap .ts-col-lg-offset-5 {
        margin-left: 20.83333%; }
    .ts-wrap .ts-col-lg-6 {
        width: 25%;
        flex-basis: 25%; }
    .ts-wrap .ts-col-lg-offset-6 {
        margin-left: 25%; }
    .ts-wrap .ts-col-lg-7 {
        width: 29.16667%;
        flex-basis: 29.16667%; }
    .ts-wrap .ts-col-lg-offset-7 {
        margin-left: 29.16667%; }
    .ts-wrap .ts-col-lg-8 {
        width: 33.33333%;
        flex-basis: 33.33333%; }
    .ts-wrap .ts-col-lg-offset-8 {
        margin-left: 33.33333%; }
    .ts-wrap .ts-col-lg-9 {
        width: 37.5%;
        flex-basis: 37.5%; }
    .ts-wrap .ts-col-lg-offset-9 {
        margin-left: 37.5%; }
    .ts-wrap .ts-col-lg-10 {
        width: 41.66667%;
        flex-basis: 41.66667%; }
    .ts-wrap .ts-col-lg-offset-10 {
        margin-left: 41.66667%; }
    .ts-wrap .ts-col-lg-11 {
        width: 45.83333%;
        flex-basis: 45.83333%; }
    .ts-wrap .ts-col-lg-offset-11 {
        margin-left: 45.83333%; }
    .ts-wrap .ts-col-lg-12 {
        width: 50%;
        flex-basis: 50%; }
    .ts-wrap .ts-col-lg-offset-12 {
        margin-left: 50%; }
    .ts-wrap .ts-col-lg-13 {
        width: 54.16667%;
        flex-basis: 54.16667%; }
    .ts-wrap .ts-col-lg-offset-13 {
        margin-left: 54.16667%; }
    .ts-wrap .ts-col-lg-14 {
        width: 58.33333%;
        flex-basis: 58.33333%; }
    .ts-wrap .ts-col-lg-offset-14 {
        margin-left: 58.33333%; }
    .ts-wrap .ts-col-lg-15 {
        width: 62.5%;
        flex-basis: 62.5%; }
    .ts-wrap .ts-col-lg-offset-15 {
        margin-left: 62.5%; }
    .ts-wrap .ts-col-lg-16 {
        width: 66.66667%;
        flex-basis: 66.66667%; }
    .ts-wrap .ts-col-lg-offset-16 {
        margin-left: 66.66667%; }
    .ts-wrap .ts-col-lg-17 {
        width: 70.83333%;
        flex-basis: 70.83333%; }
    .ts-wrap .ts-col-lg-offset-17 {
        margin-left: 70.83333%; }
    .ts-wrap .ts-col-lg-18 {
        width: 75%;
        flex-basis: 75%; }
    .ts-wrap .ts-col-lg-offset-18 {
        margin-left: 75%; }
    .ts-wrap .ts-col-lg-19 {
        width: 79.16667%;
        flex-basis: 79.16667%; }
    .ts-wrap .ts-col-lg-offset-19 {
        margin-left: 79.16667%; }
    .ts-wrap .ts-col-lg-20 {
        width: 83.33333%;
        flex-basis: 83.33333%; }
    .ts-wrap .ts-col-lg-offset-20 {
        margin-left: 83.33333%; }
    .ts-wrap .ts-col-lg-21 {
        width: 87.5%;
        flex-basis: 87.5%; }
    .ts-wrap .ts-col-lg-offset-21 {
        margin-left: 87.5%; }
    .ts-wrap .ts-col-lg-22 {
        width: 91.66667%;
        flex-basis: 91.66667%; }
    .ts-wrap .ts-col-lg-offset-22 {
        margin-left: 91.66667%; }
    .ts-wrap .ts-col-lg-23 {
        width: 95.83333%;
        flex-basis: 95.83333%; }
    .ts-wrap .ts-col-lg-offset-23 {
        margin-left: 95.83333%; }
    .ts-wrap .ts-col-lg-24 {
        width: 100%;
        flex-basis: 100%; }
    .ts-wrap .ts-col-lg-offset-24 {
        margin-left: 100%; } }
@media screen and (min-width: 1200px) {
    .ts-wrap .ts-col-xl-offset-0 {
        margin-left: 0; }
    .ts-wrap .ts-col-xl-1 {
        width: 4.16667%;
        flex-basis: 4.16667%; }
    .ts-wrap .ts-col-xl-offset-1 {
        margin-left: 4.16667%; }
    .ts-wrap .ts-col-xl-2 {
        width: 8.33333%;
        flex-basis: 8.33333%; }
    .ts-wrap .ts-col-xl-offset-2 {
        margin-left: 8.33333%; }
    .ts-wrap .ts-col-xl-3 {
        width: 12.5%;
        flex-basis: 12.5%; }
    .ts-wrap .ts-col-xl-offset-3 {
        margin-left: 12.5%; }
    .ts-wrap .ts-col-xl-4 {
        width: 16.66667%;
        flex-basis: 16.66667%; }
    .ts-wrap .ts-col-xl-offset-4 {
        margin-left: 16.66667%; }
    .ts-wrap .ts-col-xl-5 {
        width: 20.83333%;
        flex-basis: 20.83333%; }
    .ts-wrap .ts-col-xl-offset-5 {
        margin-left: 20.83333%; }
    .ts-wrap .ts-col-xl-6 {
        width: 25%;
        flex-basis: 25%; }
    .ts-wrap .ts-col-xl-offset-6 {
        margin-left: 25%; }
    .ts-wrap .ts-col-xl-7 {
        width: 29.16667%;
        flex-basis: 29.16667%; }
    .ts-wrap .ts-col-xl-offset-7 {
        margin-left: 29.16667%; }
    .ts-wrap .ts-col-xl-8 {
        width: 33.33333%;
        flex-basis: 33.33333%; }
    .ts-wrap .ts-col-xl-offset-8 {
        margin-left: 33.33333%; }
    .ts-wrap .ts-col-xl-9 {
        width: 37.5%;
        flex-basis: 37.5%; }
    .ts-wrap .ts-col-xl-offset-9 {
        margin-left: 37.5%; }
    .ts-wrap .ts-col-xl-10 {
        width: 41.66667%;
        flex-basis: 41.66667%; }
    .ts-wrap .ts-col-xl-offset-10 {
        margin-left: 41.66667%; }
    .ts-wrap .ts-col-xl-11 {
        width: 45.83333%;
        flex-basis: 45.83333%; }
    .ts-wrap .ts-col-xl-offset-11 {
        margin-left: 45.83333%; }
    .ts-wrap .ts-col-xl-12 {
        width: 50%;
        flex-basis: 50%; }
    .ts-wrap .ts-col-xl-offset-12 {
        margin-left: 50%; }
    .ts-wrap .ts-col-xl-13 {
        width: 54.16667%;
        flex-basis: 54.16667%; }
    .ts-wrap .ts-col-xl-offset-13 {
        margin-left: 54.16667%; }
    .ts-wrap .ts-col-xl-14 {
        width: 58.33333%;
        flex-basis: 58.33333%; }
    .ts-wrap .ts-col-xl-offset-14 {
        margin-left: 58.33333%; }
    .ts-wrap .ts-col-xl-15 {
        width: 62.5%;
        flex-basis: 62.5%; }
    .ts-wrap .ts-col-xl-offset-15 {
        margin-left: 62.5%; }
    .ts-wrap .ts-col-xl-16 {
        width: 66.66667%;
        flex-basis: 66.66667%; }
    .ts-wrap .ts-col-xl-offset-16 {
        margin-left: 66.66667%; }
    .ts-wrap .ts-col-xl-17 {
        width: 70.83333%;
        flex-basis: 70.83333%; }
    .ts-wrap .ts-col-xl-offset-17 {
        margin-left: 70.83333%; }
    .ts-wrap .ts-col-xl-18 {
        width: 75%;
        flex-basis: 75%; }
    .ts-wrap .ts-col-xl-offset-18 {
        margin-left: 75%; }
    .ts-wrap .ts-col-xl-19 {
        width: 79.16667%;
        flex-basis: 79.16667%; }
    .ts-wrap .ts-col-xl-offset-19 {
        margin-left: 79.16667%; }
    .ts-wrap .ts-col-xl-20 {
        width: 83.33333%;
        flex-basis: 83.33333%; }
    .ts-wrap .ts-col-xl-offset-20 {
        margin-left: 83.33333%; }
    .ts-wrap .ts-col-xl-21 {
        width: 87.5%;
        flex-basis: 87.5%; }
    .ts-wrap .ts-col-xl-offset-21 {
        margin-left: 87.5%; }
    .ts-wrap .ts-col-xl-22 {
        width: 91.66667%;
        flex-basis: 91.66667%; }
    .ts-wrap .ts-col-xl-offset-22 {
        margin-left: 91.66667%; }
    .ts-wrap .ts-col-xl-23 {
        width: 95.83333%;
        flex-basis: 95.83333%; }
    .ts-wrap .ts-col-xl-offset-23 {
        margin-left: 95.83333%; }
    .ts-wrap .ts-col-xl-24 {
        width: 100%;
        flex-basis: 100%; }
    .ts-wrap .ts-col-xl-offset-24 {
        margin-left: 100%; } }
@media screen and (min-width: 1440px) {
    .ts-wrap .ts-col-xxl-offset-0 {
        margin-left: 0; }
    .ts-wrap .ts-col-xxl-1 {
        width: 4.16667%;
        flex-basis: 4.16667%; }
    .ts-wrap .ts-col-xxl-offset-1 {
        margin-left: 4.16667%; }
    .ts-wrap .ts-col-xxl-2 {
        width: 8.33333%;
        flex-basis: 8.33333%; }
    .ts-wrap .ts-col-xxl-offset-2 {
        margin-left: 8.33333%; }
    .ts-wrap .ts-col-xxl-3 {
        width: 12.5%;
        flex-basis: 12.5%; }
    .ts-wrap .ts-col-xxl-offset-3 {
        margin-left: 12.5%; }
    .ts-wrap .ts-col-xxl-4 {
        width: 16.66667%;
        flex-basis: 16.66667%; }
    .ts-wrap .ts-col-xxl-offset-4 {
        margin-left: 16.66667%; }
    .ts-wrap .ts-col-xxl-5 {
        width: 20.83333%;
        flex-basis: 20.83333%; }
    .ts-wrap .ts-col-xxl-offset-5 {
        margin-left: 20.83333%; }
    .ts-wrap .ts-col-xxl-6 {
        width: 25%;
        flex-basis: 25%; }
    .ts-wrap .ts-col-xxl-offset-6 {
        margin-left: 25%; }
    .ts-wrap .ts-col-xxl-7 {
        width: 29.16667%;
        flex-basis: 29.16667%; }
    .ts-wrap .ts-col-xxl-offset-7 {
        margin-left: 29.16667%; }
    .ts-wrap .ts-col-xxl-8 {
        width: 33.33333%;
        flex-basis: 33.33333%; }
    .ts-wrap .ts-col-xxl-offset-8 {
        margin-left: 33.33333%; }
    .ts-wrap .ts-col-xxl-9 {
        width: 37.5%;
        flex-basis: 37.5%; }
    .ts-wrap .ts-col-xxl-offset-9 {
        margin-left: 37.5%; }
    .ts-wrap .ts-col-xxl-10 {
        width: 41.66667%;
        flex-basis: 41.66667%; }
    .ts-wrap .ts-col-xxl-offset-10 {
        margin-left: 41.66667%; }
    .ts-wrap .ts-col-xxl-11 {
        width: 45.83333%;
        flex-basis: 45.83333%; }
    .ts-wrap .ts-col-xxl-offset-11 {
        margin-left: 45.83333%; }
    .ts-wrap .ts-col-xxl-12 {
        width: 50%;
        flex-basis: 50%; }
    .ts-wrap .ts-col-xxl-offset-12 {
        margin-left: 50%; }
    .ts-wrap .ts-col-xxl-13 {
        width: 54.16667%;
        flex-basis: 54.16667%; }
    .ts-wrap .ts-col-xxl-offset-13 {
        margin-left: 54.16667%; }
    .ts-wrap .ts-col-xxl-14 {
        width: 58.33333%;
        flex-basis: 58.33333%; }
    .ts-wrap .ts-col-xxl-offset-14 {
        margin-left: 58.33333%; }
    .ts-wrap .ts-col-xxl-15 {
        width: 62.5%;
        flex-basis: 62.5%; }
    .ts-wrap .ts-col-xxl-offset-15 {
        margin-left: 62.5%; }
    .ts-wrap .ts-col-xxl-16 {
        width: 66.66667%;
        flex-basis: 66.66667%; }
    .ts-wrap .ts-col-xxl-offset-16 {
        margin-left: 66.66667%; }
    .ts-wrap .ts-col-xxl-17 {
        width: 70.83333%;
        flex-basis: 70.83333%; }
    .ts-wrap .ts-col-xxl-offset-17 {
        margin-left: 70.83333%; }
    .ts-wrap .ts-col-xxl-18 {
        width: 75%;
        flex-basis: 75%; }
    .ts-wrap .ts-col-xxl-offset-18 {
        margin-left: 75%; }
    .ts-wrap .ts-col-xxl-19 {
        width: 79.16667%;
        flex-basis: 79.16667%; }
    .ts-wrap .ts-col-xxl-offset-19 {
        margin-left: 79.16667%; }
    .ts-wrap .ts-col-xxl-20 {
        width: 83.33333%;
        flex-basis: 83.33333%; }
    .ts-wrap .ts-col-xxl-offset-20 {
        margin-left: 83.33333%; }
    .ts-wrap .ts-col-xxl-21 {
        width: 87.5%;
        flex-basis: 87.5%; }
    .ts-wrap .ts-col-xxl-offset-21 {
        margin-left: 87.5%; }
    .ts-wrap .ts-col-xxl-22 {
        width: 91.66667%;
        flex-basis: 91.66667%; }
    .ts-wrap .ts-col-xxl-offset-22 {
        margin-left: 91.66667%; }
    .ts-wrap .ts-col-xxl-23 {
        width: 95.83333%;
        flex-basis: 95.83333%; }
    .ts-wrap .ts-col-xxl-offset-23 {
        margin-left: 95.83333%; }
    .ts-wrap .ts-col-xxl-24 {
        width: 100%;
        flex-basis: 100%; }
    .ts-wrap .ts-col-xxl-offset-24 {
        margin-left: 100%; } }

.ts-col-auto {
    flex: 1 0 auto;
    width: auto;
    max-width: none; }

.ts-wrap {
    padding: 0 1rem;
    box-sizing: border-box; }
[class*='ts-col-'] {
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap; }
